.alert__card{
    padding:1.4rem 2.3rem;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.08);
    margin-bottom: 2rem;
}

.alert__left__container{
    flex:0.35;
    padding-right: 20px;
    border-right: 2px solid var(--mdcBorderColor);
}

.alert__middle__container{
    flex:0.25;
    padding-left:5rem;
    border-right: 2px solid var(--mdcBorderColor);
    font-size:1.2rem;
}

.alert__right__container{
    flex:0.4;
    padding-left:5rem;
}

.alert__card .notification__content{
    margin-top: 1.5rem;
}

.alert__card .bold__text{
    font-size: 1.3rem;
}

.alert__card .light__text,
.alert__card .blue__text,
.alert__card .red__text{
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.alert__middle__container p:not(:last-child){
    margin-bottom: 0.5rem;
}

.alert__right__container p{
    margin-bottom: 0.7rem;
}

.parameters__container{
    margin-top: 1.7rem;
}

.alert__right__container button{
    margin:0 1rem 1rem 0;
}

.alert__card .light__red__btn,
.alert__card .light__blue__btn{
    display: inline-flex;
    width:190px;
    padding-left:1rem;
    padding-right:1rem;
    justify-content: space-between;
}

@media screen and (max-width:1200px){
    .alert__left__container{
        flex:0.32;
    }
    .alert__right__container{
        flex:0.43;
    }
}