.bed__card{
    padding:2rem 0 2rem 2rem;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    font-family: 'Poppins';
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.bed__card__header > div{
    margin-bottom: 1rem;
}

.bed__card__header > div:not(:last-child){
    margin-right: 1.2rem;
}

.bed__card__header{
    margin-bottom: 2rem;
}

.bed__card__header__title{
    font-weight: var(--medium);
    color:var(--black);
    margin-right: 1rem;
}

.bed__card__body > *{
    margin:0 2rem 2rem 0;
}

.light__blue__bed,.light__red__bed{
    width: 80px;
    height:92px;
    border-radius: var(--largeBorderRadius);
    padding:1.6rem;
    font-size: 1.3rem;
    font-weight: var(--semiBold);
    color:var(--black);
    background:var(--mdcBorderColor);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.light__red__bed{
    background: var(--bedRed);
    color:var(--red);
}

.light__blue__bed img,
.light__red__bed img{
    margin-bottom: 0.6rem;
}

.light__blue__bed.gray{
    background: var(--grayBed);
}

@media screen and (max-width:1350px) {
    .light__blue__bed, .light__red__bed{
        width:75px;
        height:83px;
        padding:1.1rem;
    }
    .bed__card__body > *{
        margin:0 1.5rem 1.5rem 0;
    }
}

@media  screen and (max-width:1220px) {
    .light__blue__bed, .light__red__bed{
        width:70px;
        height:80px;
    }
    .bed__card__body > *{
        margin:0 1.5rem 1.5rem 0;
    }
}

@media screen and (max-width:1160px) {
    .beds__container{
        margin-right: 3rem;
    }
    .light__blue__bed, .light__red__bed{
        height:75px;
    }
    .light__blue__bed img,
    .light__red__bed img{
        max-width:45px;
        max-height:35px;
    }
}

@media screen and (max-width:1100px) {
    .beds__container{
        margin-right: 3rem;
    }
    .light__blue__bed,
    .light__red__bed{
        height:70px;
        padding:0.9rem;
        width:65px;
    }
    .bed__card__body > *{
        margin:0 1.2rem 1.2rem 0
    }
    .light__blue__bed img,
    .light__red__bed img{
        max-width:45px;
        max-height:32px;
    }
}