.filter__container > *{
    margin-right: 2.9rem;
    font-weight: var(--medium);
    margin-bottom: 2rem;
}

.select__container{
    font-size: 1.6rem;
    color:var(--black);
}

.select__container select{
    padding:1rem 2rem;
    border:2px solid var(--mdcBorderColor);
    color:var(--black);
    border-radius: var(--smallBorderRadius);
    font-weight: var(--medium);
    font-size: 1.6rem;
    font-family: 'Poppins';
    min-width:195px;
}

.select__container label{
    margin-right: 1rem;
}

.input__container ::placeholder{
    font-size:1.6rem;
    color:var(--black);
    font-weight: var(--medium);
    font-family: 'Poppins';
}

.input__container input{
    border:1px solid var(--mdcBorderColor);
    padding:1rem 2rem;
    font-size:1.6rem;
    color:var(--black);
    font-weight: var(--medium);
    border-radius: var(--smallBorderRadius);
    font-family: 'Poppins';
}