.margin__fix__footer{
    height:175px;
    width:100%;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: var(--blue);
    color:var(--white);
    position: absolute;
    bottom:0;
    width:100%;
}

.footer__inner{
    display: flex;
    flex-direction: column;
    padding:4rem ;
    align-items: center;
    font-family: 'fontscorecomttwcenmt';
}

.footer__inner img{
    margin-bottom: 1.9rem;
    max-width:65px;
}

.footer__inner .logo__title{
    font-size: 2.5rem;
}

.footer__stroke{
    display: block;
    height:2px;
    width:50%;
    background: var(--white);
    background: -o-linear-gradient(to left , rgba(255, 255, 255, 0) , var(--white) , rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(to left , rgba(255, 255, 255, 0) , var(--white) , rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(to left , rgba(255, 255, 255, 0) , var(--white) , rgba(255, 255, 255, 0));
    background: linear-gradient(to left , rgba(255, 255, 255, 0) , var(--white) , rgba(255, 255, 255, 0));
}

.footer__copyright{
    font-size: 1.6rem;
    font-weight: var(--medium);
    padding:2rem 0;
}