header{
    background:var(--blue);
    color:var(--white);
    display: flex;
    justify-content: space-between;
}

.logo__container{
    display:flex;
    align-items: center;
    padding:2rem 3rem;
}

.logo__container img{
    margin-right: 1.6rem;
}

.logo__container .logo__title{
    font-size: 3.8rem;
    font-weight: 400;
    font-family: 'fontscorecomttwcenmt';
}

nav.header__nav{
    flex:0.4;
    display: flex;
    flex-direction: column;
}

.admin__user__container{
    display: flex;
    padding: 1.9rem 0 0.9rem 0;
    text-align:right;
}

.admin__user{
    background: #2186dd;
    margin-left: auto;
    margin-right: 6rem;
    font-family: 'fontscorecomttwcenmt';
    font-size:2.3rem;
    padding:0.5rem 1.6rem 0.5rem 1.6rem;
    border-radius: 1.8rem;
}

.admin__user img{
    margin-right: 1.3rem;
}

.nav__list{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    height:100%;
}

.login__header .nav__list .list__item{
    padding-bottom: 0;
}

.nav__list .list__item{
    margin-right: 6rem;
    font-size: 1.8rem;
    font-weight: var(--medium);
    border-bottom:2px solid transparent;
    height:100%;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

.nav__list .list__item:hover{
    border-bottom:2px solid var(--white);
}

.nav__list .list__item a{
    color:inherit;
}

.nav__list .list__item.active{
    border-bottom:2px solid var(--white);
}

.login__header{
    position: absolute;
    top:0;
    width:100%;
    background: transparent;
    background: #2699fb;
}

.login__header__secondary{
    background: transparent;
    background-image: linear-gradient(to top, rgba(120, 120, 120, 0), #4f644e);
}

.login__header .nav__list .list__item:hover{
    border-bottom:2px solid transparent;
}