.home__container{
    padding:3rem;
}

.home__body{
    margin-top: 3rem;
}

.beds__container{
    flex:0.67;
    margin-right: 5rem;
}

.noifications__container{
    flex:0.33;
}

.notifications__show__more__btn{
    font-size: 1.6rem;
    text-align: right;
    font-weight: var(--medium);
}

.show__more__btn{
    color:var(--blue);
    cursor: pointer;
}

@media screen and (max-width:1135px){
    .noifications__container{
        flex:0.3
    }
    .beds__container{
        flex:0.7
    }
}