.inmate__form__container{
    padding:3rem;
    font-family: 'Poppins';
}

.inmate__form__heading{
    font-size: 1.8rem;
    font-weight: var(--semiBold);
    color:var(--black);
    margin-bottom: 3.5rem;
}

.inmate__form__secondary__heading{
    font-size: 1.6rem;
    font-weight: var(--medium);
    color:var(--black);
    margin-bottom: 3rem;
}

.inmate__form__secondary__heading hr{
    height:2px;
    flex:1;
    display: inline;
    border:1px solid #cce7fd94;
    margin-left: 1.1rem;
}

.group__container{
    margin-bottom: 3.5rem;
}

.inmate__form__container .form__group{
    width:30%;
    max-width:340px;
}

.form__group label{
    font-size: 1.6rem;
    font-weight: var(--medium);
    font-family: 'Poppins';
}

.gender__container .form__label{
    margin-right: 1.5rem;
    white-space: nowrap;
}

.dob__label{
    font-size: 1.4rem;
    display: block;
    margin-bottom: 0.5rem;
    color:var(--black);
    font-weight: var(--medium);
}

.gender__container > div:not(:last-child){
    margin-right: 2rem;
}

.gender__container input[type="radio"]{
    margin-right: 0.7rem;
}

.select__item{
    font-size: 1.6rem !important;
    font-weight: var(--medium) !important;
    font-family: 'Poppins' !important;
    color:var(--black) !important;
}

.inmate__form__footer__buttons{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.inmate__form__footer__buttons > *:not(:first-child){
    margin-left: 2.9rem;
}