.login__wrapper{
    width:100%;
    font-family: 'Poppins';
    min-height:100vh;
    padding-top:130px;
    padding-bottom: 20px;
    background:#88d2db;
}

.login__page{
    display: flex;
    align-items: center;
}

.login__image__container{
    max-width:700px;
    flex:1;
    margin:0 2rem;
}

.login__image__container img{
    height: 100%;
    width:100%;
    object-fit: contain;
}

.background__image{
    background: url('../../assets/images/bg.png') center center/cover;
}

.login__page .login__container{
    margin-right: 8rem;
    max-width:40rem;
} 

@media screen and (max-width:1200px){
    .login__page .login__container{
        margin-right: 2rem;
    }    
}

.login__container{
    background: var(--white);
    border-radius: var(--extraLargeBorderRadius);
    max-width: 450px;
    margin-left: auto;
    margin-right: 120px;
    padding:2rem 1.6rem 3rem 1.6rem;
}

.login__logo{
    display: flex;
    align-items: center;
    color:var(--blue);
    border-radius: var(--largeBorderRadius);
    background: var(--lightBlue);
    padding:3rem 0 3rem 3rem;
    font-family: 'fontscorecomttwcenmt';
}

.login__logo img{
    max-width:55px;
    margin-right: 2.5rem;
}

.login__logo .logo__title{
    font-weight: var(--semiBold);
    font-size: 3rem;
}

.login__body{
    padding:0 1.6rem;
}

.login__heading{
    margin:3rem 0;
}

.login__heading {
    font-size: 3.2rem;
}

.login__form button[type="submit"]{
    width:100%;
    font-size:1.8rem;
    margin-top:3rem;
    padding:1.7rem 0;
}

.input__text__field{
    width:100%;
    font-size: 1.6rem !important;
}

.otp__container{
    flex:1;
}