.management__container{
    background: #efefef;
    padding:3.8rem 5rem;
}

.management__inner__body__container{
    background:var(--white);
    border-radius: 0.8rem;
    padding: 3rem;
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    display:flex;
    justify-content: space-between;
}

.management__charts__container{
    display:flex;
    flex-wrap: wrap;
    flex:0.75;
    justify-content: space-between;
}

.management__misc__container{
    flex:0.22;
    border-left: 2px solid #e4e4e4;
    padding:3rem 2rem;
    padding-left: 3.2rem;
}

.chart__card{
    width:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.chart__card__header{
    display: flex;
    align-items: center;
    width:100%;
}

.chart__card__body{
    padding: 3rem 1rem;
}

.chart__card__body.bars{
    display: flex;
    align-items: baseline;
    padding-top: 0;
    padding-bottom: 0;
}

.bar__title{
    font-size: 1.4rem;
    padding:0 1rem;
    font-weight: var(--medium);
}

.chart__card__header h3{
    padding:0 20px;
    font-size:1.5rem;
    color:var(--lightBlack);
    font-weight: var(--medium);
}

.chart__card hr{
    border-top:2px solid  #b7b4b4;
    width:100%;
    display: block;
}

.occupancy__chart__container{
    width:160px;
    height:160px;
    position: relative;
}

.chart__circle__group{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 3.2rem;
}

.outer__circle{
    height:82px;
    width:82px;
    border-radius:50%;
    border:18px solid #ffb74a;
    font-size: 2rem;
    font-weight: var(--medium);
    font-family: 'Poppins';
    flex:none;
}

.chart__circle__group:nth-child(2) .outer__circle{
    border:18px solid #cccccc;
}

.chart__circle__group:nth-child(3) .outer__circle{
    border:18px solid #ff5722;
}

.chart__circle__group:nth-child(4) .outer__circle{
    border:18px solid #00ab55;
}

.chart__circle__group .chart__label{
    color:var(--black);
    font-size: 1.4rem;
    margin-left: 2rem;
}

.chart__container{
    max-height: 100vh;
    max-width:100vw;
    padding:20px;
}

.occupancy__inner__content{
    font-size: 2rem;
    font-weight: var(--medium);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.occupancy__inner__content img{
    width:28px;
    margin-bottom: 0.6rem;
}

#text__svg{
    font-weight: var(--medium);
    filter:drop-shadow(0px 3px 20px rgba(0,0,0,0.16));
}

@media screen and (max-width:1000px){
    #inmate__status__chart{
        width:100%;
        min-width: 220px;
    }
}


@media screen and (max-width:1100px){
    .management__inner__body__container{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}