.notification__card{
    margin-bottom: 2.2rem;
    padding:1rem 1.1rem 1.8rem 1.3rem;
    box-shadow: 0px 3px 10px 0px rgba(0,0,0,0.08);
}

.notification__header{
    margin-bottom: 1.3rem;
    font-size: 12px;
    color: var(--lightBlack);
}

.notification__header .light__blue__btn{
    padding:0.5rem;
}

.notification__title{
    font-size: 1.6rem;
}

.notification__content{
    color:var(--lightBlack);
    font-size: 1.5rem;
}