.otp__form form .input__container{
    display: flex;
}

.otp__form form input[type="text"]{
    height:45px;
    width:45px;
    background:var(--lightBlue);
    padding:1.4rem;
    font-size: 2rem;
    font-weight: var(--semiBold);
    color:var(--blue);
    border:1px solid var(--mdcBorderColor);
    font-family: 'Poppins';
    border-radius: var(--smallBorderRadius);
}

.otp__form form input[type="text"]:not(:last-child){
    margin-right: 2.3rem;
}

.otp__text{
    color:var(--blue);
    font-size: 1.4rem;
    margin-top:2.1rem;
}

.resend__btn{
    color:#2698fb8f;
    cursor: pointer;
}

.resend__btn.active{
    color:var(--blue)
}