.settings__container{
    padding:3rem;
}

.settings__header{
    margin-bottom: 3rem;
}

.additional__btns .main__blue__btn{
    margin-right: 2.9rem;    
    position: relative;
    display:inline-block;
}

.plus__icon{
    margin-right: 1rem;
    font-size: 3rem;
    position: absolute;
    left:2rem;
    top:50%;
    transform: translateY(-50%);
}

.table__wrapper{
    margin:4rem 0;
}