@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

.table__container{
    border:2px solid #d7edfb !important;
    border-radius: 6px !important;
}

.table__header tr th{
    font-size: 1.6rem !important;
    color:var(--blue) !important;
    font-family: 'Quicksand';
    font-weight: var(--medium);
    border-right:2px solid #d7edfb !important;
    border-bottom:4px solid #d7edfb !important;
}

.table__header tr th:last-child{
    border-right:none !important;
}

.table__body tr td{
    font-size: 1.4rem !important;
    color:var(--black) !important;
    font-family: 'Quicksand';
    font-weight: var(--medium);
}

.table__body tr td.dash{
    font-size: 2.1rem !important;
    font-weight: var(--medium) !important;
}

.table__body tr td{
    border-bottom:1px solid #d7edfb !important;
    border-right:2px solid #d7edfb !important;
}

.table__body tr td:last-child{
    border-right: none !important;
}
