@font-face {
	font-family: 'fontscorecomttwcenmt';
	src: url('./assets/fonts/fontscorecomttwcenmt.eot');
	src: local('fontscorecomttwcenmt'),
        url('./assets/fonts/fontscorecomttwcenmt.woff') format('woff'),
        url('./assets/fonts/fontscorecomttwcenmt.ttf') format('truetype');
}