*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family:  'Poppins', sans-serif;
}

:root{
  --white:#fff;
  --black:#333333;
  --lightBlack:#777777;
  --lightGray:#ececec;
  --borderColor:#cccccc;
  --blue:#2699fb;
  --mdcBorderColor:#bce0fd;
  --lightBlue:#f1f9ff;
  --red:#fe2d16;
  --bedRed:#ff1d0d41;
  --lightRed:#ffdfdc;
  --grayBed:#ececec;
  --regular:400;
  --medium:500;
  --semiBold:600;
  --mainHeadingFont:2.4rem;
  --secondaryHeadingFont:1.8rem;
  --normalFont:1.6rem;
  --smallFont:1.4rem;
  --verySmallFont:1.2rem;
  --transition:all 0.2s linear;
  --smallBorderRadius:4px;
  --largeBorderRadius:8px;
  --extraLargeBorderRadius:15px;
}

#root{
  min-height: 100vh;
  position: relative;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.main__blue__btn,.gray__btn{
  font-size:1.6rem;
  padding:1rem 4rem;
  border:1px solid transparent;
  color:var(--white);
  background: var(--blue);
  transition: var(--transition);
  border-radius: 4px;
  cursor:pointer;
  font-weight: var(--medium);
  font-family: 'Poppins';
  font-weight: var(--medium);
}

.main__blue__btn:hover{
  border:1px solid var(--blue);
  color:var(--blue);
  background: var(--white);
}

.gray__btn{
  color:var(--black);
  background: var(--lightGray);
}

.gray__btn:hover{
  border:1px solid var(--lightGray);
  color:var(--black);
  background: var(--white);
}

.light__red__btn,.light__blue__btn,.acknowledge__btn{
  padding:0.7rem 1.5rem;
  border-radius: var(--smallBorderRadius);
  transition: var(--transition);
  border:1px solid transparent;
  color:var(--red);
  background: var(--lightRed);
  cursor:pointer;
  font-weight: var(--medium);
  font-family: 'Poppins';
}

.acknowledge__btn{
  background: var(--blue);
  color:var(--white);
  font-size:1.2rem;
  padding:0.5rem 1rem;
}

.acknowledge__btn.Acknowledged{
  color:var(--blue);
  background: var(--lightBlue);
}

.light__blue__btn{
  color:var(--blue);
  background: var(--lightBlue);
}

.light__red__btn:hover{
  border:1px solid var(--red);
  color:var(--red);
  background: var(--white);
}

.light__blue__btn:hover{
  border:1px solid var(--blue);
  color:var(--blue);
  background: var(--white);
}

.light__blue__btn__bordered{
  border:1px solid var(--blue);
}

.light__red__btn__bordered{
  border:1px solid var(--red);
}

.MuiInputBase-input{
  font:initial !important;
  color:var(--lightBlack) !important;
  font-family: 'Poppins' !important;
}

input,select{
  outline:none;
}

.hide{
  display: none !important;
}

.loading__btn__icon{
  font-size:2rem !important;
  animation: loading 0.5s infinite linear;
}

@keyframes loading {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-360deg);
  }
}

.flex__container{
  display: flex;
}

.flex__wrap{
  flex-wrap: wrap;
}

.justify__content__between{
  justify-content: space-between;
}

.justify__content__center{
  justify-content: center;
}

.align__items__center{
  align-items: center;
}

.align__items__flex__end{
  align-items:flex-end;
}

.light__text{
  color:var(--lightBlack);
}

.bold__text{
  color:var(--black);
  font-weight: var(--medium);
}

.blue__text{
  color:var(--blue);
}

.red__text{
  color:var(--red);
}

.loading__container{
  text-align: center;
  padding:20rem 10rem;
  background: rgb(250, 250, 250);
  display: grid;
  place-items: center;
}

.loading__chart__container{
  height:calc(100% - 28rem);
  width:100%;
  position: absolute;
  top:10.5rem;
  left:0;
  background: rgb(250, 250, 250);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1.6rem;
  font-weight: var(--medium);
}

.loading__chart__container span{
  margin-bottom: 2rem;
}

.loading{
  height:30px;
  width:30px;
  border:3px solid var(--blue);
  border-top:3px solid transparent;
  animation:rotate 0.4s infinite ease-in-out;
  border-radius: 50%;
}

@keyframes rotate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-360deg);
  }
}